

@media screen and (min-width: 360px) {
html {font-size:16px}
}/*>=360的设备*/
@media screen and (min-width: 400px) {
html {font-size:18px}
}/*>=400的设备*/
@media screen and (min-width: 480px) {
html {font-size:18px}
}/*>=480的设备*/
@media screen and (min-width: 600px) {
html {font-size:18px}
}/*>=600的设备*/
@media (min-width: 720px){
html{font-size: 19px}
}/*>=720的设备*/
@media (min-width: 840px){
html{font-size: 21px}
}/*>=840的设备*/
@media (min-width: 960px){
html{font-size: 21px}
} /*>=960的设备*/
@media (min-width: 1024px){
html{font-size: 23px}
} 
/*
@media (min-width: 1100px) {
html{font-size: 17px}
} */
@media (min-width: 1280px) {
html{font-size:23px;}
} 

@media (min-width: 1366px) {

html{font-size: 22px;}
}  

@media (min-width: 1440px) {
html{font-size: 24px;}
} 

@media (min-width: 1680px) {
html{font-size: 26px;}
} 
@media (min-width: 1920px) {
html{font-size: 30px;}
}

}
*{  
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}



h1,h2,h3,h4{
	font-weight: normal;
	margin: 0;
}
p{
	margin: 0;
}
ul{
	padding: 0!important;
	margin: 0;
	box-sizing: border-box;
}
li{
	list-style-type: none;
	box-sizing: border-box;
} 
a{
	text-decoration: none;
	color: inherit;
}
img{
	border-style: none;
}
button{
	background-color: none;
	border: none;
}
fieldset{
	border: none;
}
input{
	border: solid 1px #eee;
	-webkit-appearance: none;
}
textarea{
	resize:none;
}
.f-18{
	font-size: 18px;
}
.flex-row{
	display: flex;
	justify-content: space-between;
}
.z2{
	z-index: 2;
}
.header{
	position: absolute;
	top: 0;
	z-index: 3;
	/*background: rgba(255,255,255,0.9);*/
	width: 100%;
	background-color: #fff;

}
.header .menu{
	line-height: 47px;
	font-size: 0.6rem;
}
.menu>ul{
	display: flex;
	display: -webkit-flex;
	margin-left: 16rem;
}
.menu li{
	display: inline-block;
}
.header .logo{
	position: absolute;
	left: 0;
	top: 50%;
	font-size: 0.8rem;
	margin-top: -0.6rem;
	
}
.header .logo{

}
.header a{
	color: #000;
}
.header .logo a{
	color:#6094d0;
	height: 1.2rem;
	line-height: 1.2rem
}
.header .logo a img{
	vertical-align: middle;
	margin-right: 0.6rem;
	width: 1.2rem;
}
.header .wrap{
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	min-height: 2.3rem;
	width: 40rem;
	margin: 0 auto;
}
.header a:hover,.header a.on{
	color: #6094d0;
}
.menu .parent>li{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	white-space: nowrap;
}
.menu .parent>li a{
	padding: 0px 20px;
}
.menu .parent li ul{
	width: 100%;
	position: absolute;
	top: 100%;
	display: none;
	background-color: #fafafa;
}
.menu .parent li ul>li{
	display: block;
}
.menu .parent li:hover ul{
	display: block;
}
.menu .child li:hover,.menu .child li.on{
	background:  #6094d0;
	
}
.menu .child li:hover a,.menu .child li.on a{
	color: #fff;
}



} 
@media (max-width: 990px){
.menu>ul>li{
	padding: 15px 5px;
}
}
.mobile-menu{
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -10px;
	font-size: 5px;
	height: 20px;
	width: 30px;
	display: none;
}
.mobile-menu:before,.mobile-menu:after{
	content: '';
	display: block;
	background-color: #000;
	width: 30px;
	height: 3px;
}
.strip{
	background-color: #000;
	display: block;
	text-indent: 200%;
	line-height: 3px;
	margin: 3px 0;
}
.one-third{
	width: 33.3%;
}
.quarter{
	width: 25%;
}
.one-sixth{
	width: 16.66%;
}
.f0{font-size: 0;}
.f18{font-size: 0.6rem;}
.f20{font-size: 0.67rem;}
.f26{font-size: 0.87rem}
.f30{font-size: 1rem;}
.f34{font-size: 1.13rem;}
.f46{font-size: 1.53rem;}
.c-active{
	color: #6094d0;
}
.center{
	text-align: center;
}
.footer.sub{
	position: static;
	margin: 1.87rem 0;
}
.header.fixed{
	position: fixed;
	background-color: #fff;
	box-shadow: 0px 15px 10px -15px #b9babd;
}
/*通用的长方形样式*/
.common-ul li h2{
	font-size: 0.87rem;
	text-align: center;
}
.common-ul li .text-inner{
	font-size: 0.53rem;
	background-color: #f1faff;
	position: relative;
	
}
.common-ul li .text-inner p{
	color: #6e7988;
	
}
.common-ul li .img-inner{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/*通用的圆形样式*/
.common-circle .circle{
	width: 50%;
	padding: 25% 0;
	margin: 0 auto;
	border-radius: 100px;
	margin-bottom: 0.73rem;
	position: relative;

}
.common-circle .circle p{
	width: 2rem;
	font-size: 1rem;
	line-height: 1.1rem;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1rem;
	color: #fff;
	transform: translate(0,-50%);


}
.common-circle .circle .text-inner{
	color: #404852;
}
/*有蒙版那种通用长方形样式*/
.common-rect li{
   border-radius: 7px;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   overflow: hidden;
}
.common-rect .img-inner{
	width: 100%;
	height: 2.4rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 21% auto;
}
.common-rect .mask{
	
	padding: 2.5rem 0;

	
	
}
.emit-mask{
	color: #fff;
	

	
	background-color: #56c8e7;
	padding: 1.2rem 0;
	
}


.switch{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 2;
}
.switch>div{
	transition: 0.5s all;
	position: relative;
	height: 100%;
	box-sizing: border-box;
	top: 0;
	width: 100%;
}
.switch:hover  div{
	top: -12rem;
}

.emit-mask h2:after{
	content: '';
	display: block;
	height: 2px;
	width: 2.67rem;
	background: #fff;
	margin: 0 auto;
	margin-top: 1.23rem;
	margin-bottom: 1.4rem;
}

.emit-mask p{
	width: 80%;
	margin: 0 auto;
}
.common-rect .emit-mask .img-inner{
	background-size: 17% auto;
}

.sub.main .sec .emit-mask h2{
	padding: 0;
	color: #fff;

}
 .common-rect .mask .down:after{
	content: '';
	display: block;
	height: 2px;
	width: 5.33rem;
	background-color: #000;
	margin: 0 auto;
	margin-top: 1.4rem;
}
.emit-mask .down:after{
	height: 0;
}