

/*整屏*/
.section { text-align: center; font: 50px "Microsoft Yahei"; color: #000;position: relative;color: #404852;}
.section p{color: #6e7988;}
/*绑定菜单*/

#menu { margin: 0; padding: 0; position: fixed; right: 10px; top: 55%; list-style-type: none; z-index: 70;display: flex;display: -webkit-flex; flex-direction: column;background-color: rgb(0,0,0,0.2);}

#menu li {font-size: 14px;display: block;}

#menu a {padding: 30px 20px;  text-decoration: none;display: block;background-repeat: no-repeat;background-position: center;background-size: 1.33rem;}

#menu .active a { color: #fff; }

#menu li:first-child a{background-image: url("../assets/images/first.png");}
#menu li:nth-child(2) a{background-image: url("../assets/images/second.png");}
#menu li:nth-child(3) a{background-image: url("../assets/images/third.png");}
#menu li:nth-child(4) a{background-image: url("../assets/images/forth.png");}
#menu li:first-child.active a{background-image: url("../assets/images/first_active.png");}
#menu li:nth-child(2).active a{background-image: url("../assets/images/second_active.png");}
#menu li:nth-child(3).active a{background-image: url("../assets/images/third_active.png");}
#menu li:nth-child(4).active a{background-image: url("../assets/images/forth_active.png");}


/*轮播图*/

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      background-size: cover;
      background-position: center;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    	bottom: 120px;

    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active{
    	opacity: 1;
    }
    .swiper-pagination-bullet{
    	opacity: 0.5;
    	background: #bfd4f3;
    }
    .swiper-slide .swiper-content{
    	height: 12.67rem;
    	width: 100%;
    	background-color: #fff;
    	background-color:rgba(255,255,255,0.5);
    	position: relative;
    	color: #356faf;
    }
    .swiper-slide .swiper-content p{
    	color: #356faf; 
    	margin-bottom: 1.8rem;
    }
     .swiper-slide .swiper-content h1{
     	margin-bottom: 1.8rem;
     }
    .swiper-slide .swiper-content button{
    	width: 5rem;
    	color: #fff;
    	background: #04bcd0;
    	border-radius: 3px;
    	padding: 0.3rem 0;
    }
    .swiper-slide .swiper-content div{
    	position: absolute;
    	width: 100%;
    	top: 50%;
    	transform: translate(0,-50%);
    }
    /*修改箭头*/
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    	background-image: url(../assets/images/right.svg);
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    	background-image: url(../assets/images/left.svg);
    }
 /*轮播图结束*/
.section{
	position: relative;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}





/*第一屏*/
.swiper-container1 {
      width: 100vw;
      height: 100%;
      z-index: 0;
    }
.section1 .footer{
	position: fixed;
	bottom: 0;
	
	background: rgba(0,0,0,0.5);
	font-size: 18px;
	
	
}
.section1 .footer ul{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	white-space: nowrap;
	width: 100vw;
	transition: 1s all;
	padding:10px 0;
}

.section1 .footer ul li{
	width: 33.3%;
	display: inline-block;
	text-align: center;

}
.section1 .footer ul li a{
	display: inline-block;
	position: relative;
}
.section1 .footer ul li a:hover{
	top:-5px;
}
/*第二屏*/
.section h1{
	font-size: 1rem;
}
.section h2{
	font-size: 0.8rem;
}
.section p{
	font-size: 0.6rem;
}


/*第三屏*/
.section2{


}
.section.rep.section2 .bg{
	height: 16rem;
	background-image: url('../assets/images/4bg.png');
	background-repeat: no-repeat;
	background-position: top;
	margin-top: -7.3rem;
	background-size: contain;
}

.section.rep .sec_01{
	width: 39.5vw;
	margin: 0 auto;
	margin-top: 5.3rem;
	/*margin-bottom: 350px;*/
	
}

.section2 .sec_01,.section3 .sec_01{
	opacity: 0;
	transition: all 1s;
}
.section2.active .sec_01,.section3.active .sec_01{
	opacity: 1;
	transition-delay: 0.6s;
}
.section.rep .sec_01 p{
	margin-top: 1.5rem;
}
.section.rep .sec_01 button{
	background: #04bcd0;
	color: #fff;
	padding:10px 55px;
	border-radius: 30px;
	font-size: 0.6rem;
	margin-top: 2rem;
}
.section.rep .sec_02{
	width: 100%;
	/*position: absolute;*/
    left: 0;
    bottom: 5rem;
    margin-top: -50px;
}
.section.rep .sec_02 ul{
	
	margin-top: 108px;
    /*position: absolute;
    left: 19vw;
    bottom: 100px;*/
   height: 8.33rem;

}
.common-ul{
	width: 40rem;
	margin: 0 auto;
}
.common-ul li{
	display: inline-block;
	/*float: left;*/
	border:solid 1px #fff;
	box-shadow: 0 0 15px #ccc;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
}
.section.rep .sec_02 ul li{
	margin-right: 2rem;
	width: 8.33rem;
	height: 8.33rem;
	position: relative;
	opacity: 0;
	transition: all 1s;
}

.section.rep .sec_02 li .img-inner{
	height: 36%;
	width: 100%;
	background-size: 24%;background-position: center;background-repeat: no-repeat;
}
.section.rep .sec_02 li .text-inner{
	background: #f1faff;
	height: 64%; 
	padding: 0 0.8rem;
}
.section2 .sec_02 .li_02 .text-inner{
	padding: 0 1.3rem;
}
.section.rep .sec_02 li .text-inner h2{
	padding: 0.4rem 0 0.6rem 0;
}
.section.rep .sec_02 li:last-child{
	margin-right: 0;
}
.section.rep .sec_02 h2{
	font-size: 0.87rem;
}
.section.rep .sec_02 p{
	font-size: 0.53rem;
}
.section2 .sec_02 li.left{
	left: -800px;
}
.section2 .sec_02 li.right{
	left: 800px;
}
.section2.active .sec_02 li.left{
	left:0;
}
.section2.active .sec_02 li.right{
	left: 0;
}
.section.rep.active ul li{
	opacity: 1;
}
.section2 .bg-wrap .circle{
	border-radius: 50px;
	background-color: #fcf3f3;
	position: absolute;
}
.section2 .bg-wrap .c1{
	height: 1.2rem;
	width: 1.2rem;
	top: 25%;
	margin-top: -0.6rem;
	left: 4.7%;
}
.section2 .bg-wrap .c2{
	height: 0.87rem;
	width: 0.87rem;
	top: 40%;
	left: 11.8%;
}
.section2 .bg-wrap .t{
	width:1rem;
	height:1rem;
	position: absolute;
	background-size: contain;
}
.section2 .bg-wrap .t1{
	background-image: url('../assets/images/t1.png');
	top: 25%;
	right: 4.7%;
}
.section2 .bg-wrap .t2{
	background-image: url('../assets/images/t2.png');
	top: 43%;
	right: 11.8%;
}


/*第四屏*/
.section3{

}
.section.section3 .sec_01 p{
	margin: 0 auto;
	margin-top: 1.5rem;
	width: 70%;
}
.section.rep .bg{
	width: 100%;
	height: 9.7rem;
	position: relative;
	bottom: 0;
	margin-top: -4.3rem;
	z-index: -1;
}
.section.section3 .bg{
	background: linear-gradient(#e6f1ff,#fff);
}
.section.section3 .sec_01 button{
	background-color: #3e7dcc;
}
.section3 .sec_02 li{
	position: relative;
	right: -100px;
	opacity: 0;

}
.section3.active ul li{
	right: 0;
	opacity: 1;

}
.section.section3 .sec_02 li .text-inner{
	background: #f7fbff;
}


.section3.active ul li.li_01{
	transition: all 1s;
	transition-delay: 1s;
}

.section3.active ul li.li_02{
	transition-delay: 1.2s;
}
.section3.active ul li.li_03{
	transition-delay: 1.4s;
}
.section3.active ul li.li_04{
	transition-delay: 1.6s;
}

/*第五屏开始*/
.section4{
	position: relative;
}
.section4 .sec_01{
	border: solid 1px #daeffe;
	background-color: #d3eff4;
	margin: 0 auto;
	height: 12.67rem;
	position: relative;
	bottom: -400px;
	opacity: 0;
	transition: all 1s;
	transition-delay: 0.5s;
}
.section4.active .sec_01{
	bottom: 0;
	opacity: 1;
}
.section4 h1{
	margin: -2.2rem 0 3rem 0;
}

.section4 .sec_01 ul{
	
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translate(0,-50%);
}
.section4 .sec_01 li{
	display: inline-block;
	margin-right: 3rem;
	height: 4.2rem;
	line-height: 4.2rem;
}
.section4 .sec_01 li:last-child{
	margin-right: 0;
}
.section4 .sec_01 .img-inner{
	width: 3.33rem;
	height: 3.33rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
}
.section4 .sec_01 .text-inner{
	line-height: 3rem;
	
}
.section4 .sec_01 .text-inner .num{
	font-size: 1.6rem;
	color: #04bcd0;
}
.section4 .sec_01 .text-inner p{
	font-size: 0.93rem;
}
.section4 .sec_01 .img-inner,.section4 .sec_01 .text-inner{
	display: inline-block;
	vertical-align: middle;
}
.footer{
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;

}
.footer p{
	font-size: 0.53rem;
	color: #404852;
}
.section4 .footer{
	opacity: 0;
	transition: all 1s;

}
.section4.active .footer{

	transition-delay: 1s;
	opacity: 1;
}
/*留言板*/
.board{
	width: 16.67rem;
	min-height: 22rem;
	position: fixed;
	right: 0;
	bottom: 0;
	margin-top: -10rem;
	background: #fff;
	z-index: 10;
	font-size: 13px;
	border-radius: 5px;
	overflow: hidden;
	display: none;
}
.board.large{
	height: 25rem;
}
.board .title{
	background: linear-gradient(to right,#5acfe7,#787df0);
	height: 54px;
	position: relative;
	color:  #fff;
	margin-bottom: 20px;

}
.board .title h3{
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translate(0,-50%);
}
.board .btns{
	float: right;
	width: 50%;
	text-align: right;

}
.board .enlarge{
	width: 12px;
	height: 8px;
	border: solid 2px;
	border-top: solid 4px;	
}

.board .minimize{
	width: 15px;
	height: 2px;
	background: #fff;
}
.board .enlarge,.board .minimize,.board .close,.board .shrink{
	display: inline-block;
	line-height: 54px;
	vertical-align: middle;
	margin-right: 15px;
}
.board .shrink{
	width: 15px;
	height: 15px;
	background-image: url(../assets/images/shrink.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.board .shrink.hide{
	display: none;
}
.hint{
	color: #d81e06;
	line-height: 13px;
	margin-left: 25%;
	display: none;

}
.hint.illegal{display: block;}
.hint:before{
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	background-image: url(../assets/images/error.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 13px;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 2px;
}
.close{
	width: 10px;
}
.close:before{
	content: '\2716';
	width: 10px;
	height: 10px;
	display: inline-block;
	font-size: 20px;
}
.board label{
	
	display: inline-block;
	width: 20%;
	text-align: right;
	margin-right: 0.3rem;

}
.board label:before{
	content: '*';
    font-size: 3px;
	display: inline-block;
	color: red;
	margin-right: 3px;
}
.optional:before{
	opacity: 0;
}
.board .row{
	margin: 0.3rem 0;
}
.board input,.board select{
	width: 70%;
	border-radius: 3px;
	line-height: 1.5;
	padding: 4px;
	display: inline-block;
	box-sizing: border-box;
	font-size: 13px;
}
.board select{
	background: #f9f9f9;
}
.board #message{
	height: 5rem;
	width: 70%;
	border-radius: 3px;
}
.board .btn{
	display:block;
	width: 40%;
	margin: 0 auto;
	background-color: #5ad0f0;
	border-radius: 20px;
	color: #fff;
}

/*移动端*/

@media (max-width: 770px){
	body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.header .menu{
	display: none;
}
.section.rep .sec_01{
	width: 80vw;
	margin-top: 4vw;
}
.section.rep .sec_02{
	margin-top: -60px;
}
.section.rep .sec_02 ul{
	width: 80vw;
}
.section.rep .sec_02 ul li{
	width: 38vw;
	height: 38vw;
	margin-right:2vw;
}
.section.rep .sec_02 ul li:first-child,.section.rep .sec_02 ul li:nth-child(2){
	margin-bottom: 2vw;
}
}

/*远程会诊开始*/
.sub-menu{
	width: 100%;
	background-color: #f9fcff;
	/*box-shadow:inset 0px 15px 10px -15px #b9babd;*/
}
.sub-menu ul{
	width: 34rem;
	margin: 0 auto;
	font-size: 0;
}
.sub-menu li{
	width: 25%;

}
.sub-menu2 li{
	width: 20%;

}
.sub-menu li a{
	display: inline-block;
	height: 2.67rem;
	line-height: 2.67rem;
}
.sub-menu li a:before{
	content: '';
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 0.67rem;
}
.sub-menu .li1 a:before{
	background-image: url('../assets/images/sub_menu1.png');
}
.sub-menu .li1.on a:before{
	background-image: url('../assets/images/sub_menu1_active.png');
}
.sub-menu .li2 a:before{
	background-image: url('../assets/images/sub_menu2.png');
}
.sub-menu .li2.on a:before{
	background-image: url('../assets/images/sub_menu2_active.png');
}
.sub-menu .li3 a:before{
	background-image: url('../assets/images/sub_menu3.png');
}
.sub-menu .li3.on a:before{
	background-image: url('../assets/images/sub_menu3_active.png');
}
.sub-menu .li4 a:before{
	background-image: url('../assets/images/sub_menu4.png');
}
.sub-menu .li4.on a:before{
	background-image: url('../assets/images/sub_menu4_active.png');
}
.telemedicine .intro{
	background-image: url('../assets/images/sub_intro_bg1.png');
}
.telemedicine .sec01 .rect{
	width: 40rem;
	height: 13.4rem;
	background-image: url('../assets/images/sub01_sec01_bg.png');
	background-color: #fff;

}
.main .rect{
	border-radius: 10px;
	box-shadow: 0 0 15px #e6f5ff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 85%;
	background-color: #fff;
}
.telemedicine .sec03 li{
	width:5.5rem;
	height:10rem;
	margin-right:1.4rem; 
}
.telemedicine .sec03 li:hover{
	box-shadow: 0 0 15px #3e7dcc;
}

.telemedicine .sec03 li .img-inner{
	height: 35%;
}
.telemedicine .sec03 li .text-inner{
	height: 65%;
	padding: 0 0.5rem;
}

.telemedicine .sec03 li:last-child{
	margin-right: 0;
}




/*下面这些是二级页面的公用*/
.sub-menu .on a{
	color: #6094d0;
}
.inline li{
	display: inline-block;
}
.below-header{margin-top: 2.3rem;}
.sub.main h1{
	margin: 1.33rem 0;
}
.sub.main .intro{
	color: #fff;
	height: 10.67rem;
	position: relative;
}
.sub.main .intro .article{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(0,-50%);
}
.intro2{
	background-image: url('../assets/images/sub_intro2.png');
	background-size: cover;
	background-position: center;
}
.sub.main .intro .article2{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 23%;
	transform: translate(0,-50%);
	z-index: 2;
}
.sub.main .intro .article2 h1,.sub.main .intro .article2 p{
	text-align: left;
}
.sub.main .intro .article2 span{
	display: block;
	line-height: 1.5;
	padding: 0.3rem 0;
	
}
.sub.main .intro .article2 p span{
	width: 48%;
}
.sub.main .intro h1{
	text-align: center;
	margin: 0;
	margin-bottom: 1rem;
	line-height: 1;
}
.sub.main .intro h1 span:first-child{
	margin-right: 2.5rem;
}
.sub.main .intro h1 span{
	font-size: 1.13rem;
}
.sub.main .intro p{
	font-size: 0.6rem;
	text-align: center;
	line-height: 2.5;
}
.sub.main .sec{
	width: 100%;
	position: relative;
}
.sub.main .sec>ul,.sub.main .sec>h2,.sub.main .sec>div{
	width: 40rem;
	margin: 0 auto;
}
.sub.main .sec h2{
	font-size: 1rem;
	line-height: 1rem;
	padding: 1.33rem 0;
	color: #404852;

}
/*产品服务的背景*/
.sub.main .sec .sec-bg,.sub.main .sec .sec2-bg-left,.sec2-bg-right{
	position: absolute;
	
	background-size: 100%;
	background-position: left;
	background-repeat: no-repeat;
	z-index: -1;
}
.sub.main .sec .sec-bg{
	width: 100vw;
	left: 0;
	
}
.sub.main .sec .sec-bg1{
	height: 8.5rem;
	top: 0;
	left: 0;
	background-image: url(../assets/images/sec_bg1.png);
}
.sub.main .sec .sec-bg2{
	height: 8.5rem;
	bottom: 0;
	left: 0;
	background-image: url(../assets/images/sec_bg2.png);
	
}
.sub.main .sec .sec-bg3{
	height: 40%;
	bottom: 0;
	background: linear-gradient(#e6f1ff,#fff);

}
.sub.main .sec .sec-bg4{
	height: 100%;
	bottom: 0;
	background: linear-gradient(#fff,#eff2fe);
}

/*云影像的背景*/
.sec2-bg-left{
	left: 0;

}
.sec01 .sec2-bg-right{
	right: 0;
	top: 8rem;
}
.sub.main .sec .sec2-bg1{
	width: 16.63rem;
	height: 8.07rem;
	background-image: url(../assets/images/sec_bg3.png);
}
.sub.main .sec02 .sec2-bg-left{
	bottom: 0;
}
.sec02 .sec2-bg-right{
	right: 0;
	top: 5rem;
}
.sub.main .sec .sec2-bg2 {
    height: 100%;
    bottom: 0;
    background: linear-gradient(#fff,#eff2fe);
    position: absolute;
    width: 100%;
    z-index: -1;
}




.sub.main .sec .title:before{
	content: '';
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 0.6rem;
}
.sub.main .sec01 h2:before{
	background-image: url("../assets/images/sub01_icon01.png");
}
.sub.main .sec02 h2:before{
	background-image: url("../assets/images/sub01_icon02.png");
}
.sub.main .sec03 .title:before{
	background-image: url("../assets/images/sub01_icon03.png");
}
.sub.main .sec li{
	text-align: center;
	vertical-align: top;
}
.sub.main .sec02 li img,.sub.main .sec02 li .text-inner{
	
	display:block;
	margin: 0 auto;
	color: #6e7988;
}
.sub.main.telemedicine .sec02 .text-inner{
	width: 50%;
}
.sub.main .sec02 li img{
	margin-bottom: 0.6rem;
}
.sub.main .sec li .text-inner span{
	display: block;
}


/*托管服务开始*/
.sub.main.trusteeship .sec01 h2:before {
    background-image: url(../assets/images/sub02_icon01.png);
}
.sub.main.trusteeship .sec02 h2:before {
    background-image: url(../assets/images/sub01_icon03.png);
}
.sub.main.trusteeship .sec03 h2:before {
    background-image: url(../assets/images/sub02_icon03.png);
}
.trusteeship .intro{
	background-image: url('../assets/images/sub_intro_bg1.png');
}
.trusteeship .common-circle li .circle{
	background: #04bcd0;
}

.sub.main.trusteeship .common-circle .text-inner{
	width: 70%;
}
.trusteeship .common-rect li,.doctors .common-rect li{
	height: 11.33rem;
	width: 11rem;
	margin-right: 3.5rem;
}
.trusteeship .common-rect li:last-child,.doctors .common-rect li:last-child{
	margin-right: 0;
}
.trusteeship .common-rect .down{
	padding: 0 1.8rem;
	text-align: left;
}
.sub.main.trusteeship .common-rect h2,.sub.main.doctors .common-rect h2{
	font-size: 1.53rem;
	text-align: left;
	padding-left: 1.5rem;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}
.trusteeship .common-rect .li_01,.doctors .common-rect .li_01{
	background-image: url(../assets/images/sub02_sec03_bg1.png);
}
.trusteeship .common-rect .li_02,.doctors .common-rect .li_02{
	background-image: url(../assets/images/sub02_sec03_bg2.png);
}
.trusteeship .common-rect .li_03,.doctors .common-rect .li_03{
	background-image: url(../assets/images/sub02_sec03_bg3.png);
}

/*教育培训开始*/
.education .intro{
	background-image: url('../assets/images/sub_intro_bg1.png');
}
.sub.main.education .common-ul li,.sub.main.alliance .common-ul li{
	width: 11rem;
	height: 10rem;
	margin-right: 3.5rem;
	position: relative;
	border: none;
}
.sub.main.education .common-ul li:last-child,.sub.main.alliance .common-ul li:last-child{
	margin-right: 0;
}
.sub.main.education .common-ul h2,.sub.main.education .common-ul .text-inner p,.sub.main.alliance .common-ul h2,.sub.main.alliance .common-ul .text-inner p{
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	text-align: center;
	width: 100%;
}
.sub.main.education .common-ul h2:before{
	background-image: none;
	margin-right: 0.5rem;
	color: #3e7dcc;
}
.sub.main.education .common-ul .li_01 h2:before{
	content: '01';
}
.sub.main.education .common-ul .li_02 h2:before{
	content: '02';
}
.sub.main.education .common-ul .li_03 h2:before{
	content: '03';
}
.sub.main.education .common-ul .img-inner,.sub.main.alliance .common-ul .img-inner{
	height: 33.3%;
	position: relative;
	width: 100%;
}
.sub.main.education .common-ul .text-inner,.sub.main.alliance .common-ul .text-inner{
	height: 66.7%;
	position: relative;

}

.sub.main.education .common-ul li .text-inner{
	background: #f2fbfc;
}

.sub.main.education .common-ul .text-inner p,.sub.main.alliance .common-ul .text-inner p{
	text-align: left;
	padding: 0 1.8rem;
	box-sizing: border-box;
}
.sub.main.alliance .common-ul .text-inner p{
	padding: 0 0.5rem;
}
.sub.main.education .common-ul .text-inner p span,.sub.main.alliance .common-ul .text-inner p span{
	display: block;
	width: 100%;
	margin-bottom: 0.4rem;
}
.education .common-rect li,.health .common-rect li{
	width: 11rem;
	height: 12rem;
	margin-right: 3.5rem;
}
.education .common-rect li:last-child,.health .common-rect li:last-child{
	margin-right: 0;
	}
.education .common-rect .li_01{
	background-image: url('../assets/images/sub03_sec02_bg1.png');
}
.education .common-rect .li_02{
	background-image: url('../assets/images/sub03_sec02_bg2.png');
}
.education .common-rect .li_03{
	background-image: url('../assets/images/sub03_sec02_bg3.png');
}
.education .common-rect .down,.health .common-rect .down{
	margin-top: 1.67rem;
}


.education .common-rect .emit-mask .down{
	margin-top: 0.8rem;
}
.education .sec03 li{
	position: relative;
	height: 4.5rem;
	background-repeat: no-repeat;
	background-position: 15% bottom;
}
.education .sec03 .li_01{
	background-image: url(../assets/images/sub03_sec03_bg1.png);
}
.education .sec03 .li_02{
	background-image: url(../assets/images/sub03_sec03_bg2.png);
}
.education .sec03 .li_03{
	background-image: url(../assets/images/sub03_sec03_bg3.png);
}
.education .sec03 .text-inner{
	width: 6rem;
	border-top: solid 1px #04bcd0;
	border-bottom: solid 1px #04bcd0;
	color: #333;
	line-height: 1.5;
	padding: 0.93rem 0;
	position: absolute;
	right: 2.33rem;

}
/*健康管理开始*/

.health .intro{
	background-image: url('../assets/images/sub_intro_bg1.png');
}
.health .common-rect .li_01{
	background-image: url('../assets/images/sub03_sec02_bg1.png');
}
.health .common-rect .li_02{
	background-image: url('../assets/images/sub03_sec02_bg2.png');
}
.health .common-rect .li_03{
	background-image: url('../assets/images/sub03_sec02_bg3.png');
	margin-right: 0;
}
.health .common-rect .emit-mask .down{
	margin-top: 0.2rem;
}
.health .common-rect .emit-mask h2:after{
	height: 0;
}
.health .common-ul li{
	width: 8.33rem;
	height: 8.33rem;
	margin-right: 2.22rem;
	margin-bottom: 1.5rem;
}
.health .common-ul li:nth-child(4n){
	margin-right: 0;
}
.health .common-ul .text-inner{
	height: 22.4%;
}
.health .common-ul .text-inner p{
	position: absolute;
	top: 50%;
	transform:translate(0,-50%);
	text-align: center;
	width: 100%;
}
.health .common-ul .img-inner{
	height: 77.6%;
	background-size: 60%;

}
.health .sec01 .title2{
	text-align: center;
	margin-bottom: 1.9rem;
	position: relative;
}
.health .sec01 .title2:before,.health .sec01 .title2:after{
	color:#778bae;
	content: '';
	display: inline-block;
	width: 14.33rem;
	height: 1.47rem;
	border-top: solid 1px ;
	
	position: absolute;
	
	top: 50%;

}
.health .sec01 .title2:before{
	border-left: solid 1px ;
	left: 0;

}
.health .sec01 .title2:after{
	border-right: solid 1px ;
	right: 0;
}
.health .ul-wrap{
	display: inline-block;
	box-sizing: border-box;
}
.health .ul-wrap h3{
	margin-bottom: 0.5rem;
	width: 100%
}
.health .ul-wrap ul{
	height: 6.67rem;
	width: 100%;

}
.health .ul-wrap1 ul{
	width: 14rem;
	
}
.health .ul-wrap1{
	margin-right: 3rem;
}
.health .ul-wrap2 ul{
	width: 23rem;
}

.health .ul-wrap1 li{
	line-height: 2.5;
}
.health .ul-wrap2 li{
	line-height: 2;
}

/*医联体开始*/
.alliance .sec01 .rect{
	width: 40rem;
	height: 14.3rem;
	background-image: url('../assets/images/sub05_sec01_bg.png');
	background-size: 92%;
}
.alliance .sub_intro_png {
    width: 9.9rem;
    right: 28.5vw;
}
.embrace{
	height: 14rem;
	position: relative;
}
.embrace .center-img{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.embrace .circle{
	width: 6.2rem;
	height: 6.2rem;
	border-radius: 100px;
	border: solid 3px #3e7dcc;
	background: #f7fbff;
	position: relative;
	margin: 0 auto;
}
.embrace .circle2{
	width: 10.6rem;
	height: 5.3rem;
	border-radius: 0 0 200px 200px;
	background: #9ebee5;
	position: relative;
	top: -3.1rem;
	z-index: -1;
}
.embrace .circle p{
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #3e7dcc;
}
.embrace  p span{
	display: block;
}
.embrace ul{
	height: 100%;
	position: relative;
}
.embrace li{
	position: absolute;
	padding: 12px;
}
.embrace li p{
	visibility: hidden;
}
.embrace li:hover{
	box-shadow: 0 0 10px #d5e2f4;
}
.embrace li:hover p{
	visibility: visible;
}
.embrace li h3{
	margin-bottom: 0.5rem;
	
}
.embrace .pull-left h3,.embrace .pull-left p{
	text-align: right;
}
.embrace .pull-right h3,.embrace .pull-right p{
	text-align: left;
}

.embrace li h3 span{
	border-bottom: solid 2px #3e7dcc; 
	padding-bottom: 0.3rem;
	display: inline-block;
}
.embrace li span{
	color: #333;
	white-space: nowrap;
}
.embrace .item1{
	right: 72%;
	top: 1.5rem;
}
.embrace .item2{
	right: 68%;
	top: 5.5rem;
}
.embrace .item3{
	right: 62%;
	top: 9.5rem;
}
.embrace .item4{
	bottom: -2rem;
	left: 50%;
	transform: translate(-50%,0);
}
.embrace .item7{
	left: 72%;
	top: 1.5rem;
}
.embrace .item6{
	left: 68%;
	top: 5.5rem;
}
.embrace .item5{
	left: 62%;
	top: 9.5rem;
}
.embrace .item4 h3{
	text-align: center;
}
/*医院PACS开始*/
.hospital .sec01 .rect{
	width: 40rem;
	height: 14.3rem;
	background-image: url('../assets/images/sub07_sec01_bg.png');
	background-size: 92%;
}
.hospital .sub_intro_png{
	width: 14.27rem;
	right: 19vw;
}
/*区域平台开始*/
.area .sec01 .rect{
	width: 40rem;
	height: 16.7rem;
	background-image: url('../assets/images/sub06_sec01_bg.png');
	background-size: 92%;
}
.area .circle{
	background: #04bcd0;
}
.area .circle p{
	font-size: 1.73rem;
	top: 60%;
}
.area .common-circle .text-inner{
	width: 54%;
	padding: 0 23%;
}
.area .sec02 li{
	height: 10rem;
	width: 19rem;
	margin:0 2rem 2rem 0;
}
.area .sec02 li:nth-child(2n){
	margin-right: 0;
}
.area .sec02 .li_01 .left,.area .sec02 .li_04 .left{
	background: #04bcd0;
	position: relative;
}
.area .sec02 .li_02 .left,.area .sec02 .li_03 .left{
	background: #3e7dcc;
	position: relative;
}
.sub.main.area .sec02 li h2{
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1.17rem;
	width: 1.2rem;
	line-height: 1.2;
	color: #fff;
}
.area .sec02 li .left{
	width: 14%;
}
.sub.main.area .sec02 li .right{
	width: 86%;
	display: table-cell;
	vertical-align: middle;
	height: 10rem;
}
.sub.main.area .sec02 li .right p{
	text-align: left;
	margin: 0.5rem;
}
/*医生联盟开始*/
.doctors .sub_intro_png{
	width: 6.1rem;
	right: 30vw;
}
.doctors .sec01 .rect{
	width: 40rem;
	height: 14.3rem;
	background-image: url('../assets/images/sub09_sec01_bg.png');
	background-size: 92%;
}
.doctors .common-rect .down{
	text-align: left;
	padding: 0 2.5rem;
	line-height: 2;
}
.doctors .common-ul li,.group .common-ul li{
	width: 11rem;
	height: 10rem;
	margin-right: 3.5rem;
	position: relative;
	border: none;
}
.doctors .common-ul li:last-child,.group .common-ul li:last-child{
	margin-right: 0;
}
.sub.main.doctors .common-ul .img-inner,.sub.main.group .common-ul .img-inner{
	height: 46.7%;
	position: relative;
}
.sub.main.doctors .common-ul .text-inner,.sub.main.group .common-ul .text-inner{
	height: 53.3%;
	width: 100%;
	background: #f2fbfc;

}
.sub.main.doctors .common-ul h2:before,.sub.main.group .common-ul h2:before{
	content: '';
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: middle;
	line-height: 0.87rem;
	margin-right: 0.93rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.sub.main.doctors .common-ul .li_01 h2:before{
	background-image: url(../assets/images/sub09_sec02_icon01.png);
}
.sub.main.doctors .common-ul .li_02 h2:before{
	background-image: url(../assets/images/sub09_sec02_icon02.png);
}
.sub.main.doctors .common-ul .li_03 h2:before{
	background-image: url(../assets/images/sub09_sec02_icon03.png);
}
.sub.main.doctors .common-ul h2:after,.sub.main.group .common-ul h2:after{
	content: '';
	display: block;
	height: 1px;
	width: 2rem;
	line-height: 0.87rem;
	background-color: #04bcd0;
	vertical-align: middle;
	position: absolute;
	left: 5.5rem;
}
.doctors .common-ul .text-inner p,.group .common-ul .text-inner p{
	padding: 0 1.5rem;
	box-sizing: border-box;
}
/*集团PACS开始*/
.group .sub_intro_png{
	width: 11.6rem;
	right: 22vw;
}
.group .sec01 .rect{
	width: 40rem;
	height: 14.3rem;
	background-image: url('../assets/images/sub08_sec01_bg.png');
	background-size: 92%;
}
.sub.main.group .common-ul h2:before{
	width: 2.5rem;
	height: 2.5rem;

}
.sub.main.group .common-ul .li_01 h2:before{
	background-image: url(../assets/images/sub08_sec02_icon01.png);
}
.sub.main.group .common-ul .li_02 h2:before{
	background-image: url(../assets/images/sub08_sec02_icon02.png);
}
.sub.main.group .common-ul .li_03 h2:before{
	background-image: url(../assets/images/sub08_sec02_icon03.png);
}

/*这部分也可以提出来公用*/
.trusteeship .common-ul li{
	width: 13.33rem;
	height: 6rem;
	margin-right: 6rem;
	margin-bottom: 1.5rem;
	position: relative;
	border: none;
}
.sub.main.trusteeship .common-ul .li_03,.sub.main.trusteeship .common-ul .li_04{
	left: 6rem;
}
.sub.main.trusteeship .common-ul h2{
	padding: 0;
	font-size: 0.87rem;
}
.sub.main.trusteeship .common-ul h2:after{
	content: '';
	display: inline-block;
	height: 1px;
	width: 2.67rem;
	line-height: 0.87rem;
	
	vertical-align: middle;
	margin-left: 0.53rem;
}
.sub.main.trusteeship .common-ul li h2:after{
	background: #3e7dcc;
}

.sub.main.trusteeship .common-ul h2:before{
	content: '';
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	vertical-align: middle;
	line-height: 0.87rem;
	margin-right: 0.93rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.sub.main.trusteeship .common-ul .li_01 h2:before{
	background-image: url(../assets/images/sub02_sec01_icon01.png);
}
.sub.main.trusteeship .common-ul .li_02 h2:before{
	background-image: url(../assets/images/sub02_sec01_icon02.png);
}
.sub.main.trusteeship .common-ul .li_03 h2:before{
	background-image: url(../assets/images/sub02_sec01_icon03.png);
}
.sub.main.trusteeship .common-ul .li_04 h2:before{
	background-image: url(../assets/images/sub02_sec01_icon04.png);
}

.trusteeship .common-ul .text-inner,.trusteeship .common-ul .img-inner{
	height: 50%;
	position: relative;
}
.trusteeship .common-ul .text-inner p,.trusteeship .common-ul .img-inner h2,.doctors .common-ul .text-inner p,.doctors .common-ul .img-inner h2,.group .common-ul .text-inner p,.group .common-ul .img-inner h2{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	text-align: center;
}
.trusteeship .common-ul .text-inner p{
	padding: 0 2rem;
	box-sizing: border-box;
}
.sub.main.trusteeship .common-ul li .text-inner{
	background:#f2fbfc;
}

